.save-button-container{
    font-size: 0px;
}

.save-button-container #rte-button-publish-and-notify {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.save-button-container #rte-button-publish {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
}

